html,
body {
  background-color: $white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  margin-top: 55px;
}

span {
  color: $white;
  line-height: 1px;
  font-size: .7rem;
  font-weight: bold;
}

svg {
  fill: currentColor;
  color: $white;
  padding: 8px;
  width: 26px;

  &:hover {
    color: $primary;
  }
}

.bord-line {
  width: auto;
  height: 1px;
  background-color: $light-grey2;
  margin: 0 20px;
}

.buffer {
  height: 60px;
  width: auto;
  background-color: $light-grey3;
}