// Color

$primary              : #FF6666;
$secondary            : #2EC4B6;
$tertiary             : #F4E753;

$danger               : #FF3333;
$warning              : #FFDC59;

$white                : #FFFFFF;
$black                : #222222;
$light-black          : #4c4d52;
$grey                 : #656565;
$light-grey           : #F0F0F0;
$light-grey2          : #d1d1d1;

