.footer {
    background-color: $black;
    font-family: $fira;
    font-weight: 700;
    color: $white;

    &-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

        @media only screen and (max-width:1200px) {
            margin: auto 20px;
        }
    }

    &-social {
        height: auto;

        &-ul {
            padding: 0.26rem 0;
        }

        &-li {
            display: inline;
        }
    }

    &-right {
        display: flex;

        &-content {
            margin: auto 0;

            &>span>a {
                color: $white;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        & {
            display: flex;
            padding-bottom: 20px;

            &-container {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
            }
        }

    }
}