.nav {
  background-color: $white;
  overflow: auto;
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    &-title,
    &-menu {
      margin: auto 20px;
    }
  }

  &-title {
    color: $black;
    font-size: 36px;
    display: flex;
    font-family: $fira;
    font-weight: bolder;
    flex-direction: column;

    &-top {
      margin: auto;
      margin-bottom: -6px;
    }

    &-bottom {
      font-size: 14px;
      margin-top: -6px;
      display: flex;
      justify-content: end;

      &-content {
        height: 23px;

        span {
          color: $primary;
          font-family: $fira;
          font-weight: bolder;
          font-size: 14px;
        }
      }
    }
  }

  &-menu {
    width: 40px;
    height: 40px;
    background-color: $white;
    display: flex;

    &-box {
      &-line {
        height: 6px;
        width: 40px;
        top: 28px;
        background-color: $primary;
        position: absolute;
        transition-duration: 0.25s;
      }

      &-line:before {
        left: 0;
        position: absolute;
        top: -11.5px;
        height: 6px;
        width: 40px;
        background-color: $black;
        content: "";
        transition-duration: 0.25s;
      }

      &-line:after {
        left: 0;
        position: absolute;
        top: 11.5px;
        height: 6px;
        width: 40px;
        background-color: $black;
        content: "";
        transition-duration: 0.25s;
      }

      &.open &-line {
        transition-duration: 0.1s;
        transition-delay: 0.25s;
        background: transparent;
      }

      &.open &-line:before {
        transition: top 0.25s, transform 0.25s 0.25s;
        top: 0px;
        transform: rotateZ(-45deg);
      }

      &.open &-line:after {
        transition: top 0.2s, transform 0.25s 0.25s;
        top: 0px;
        transform: rotateZ(45deg);
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .nav {
    &-title {
      color: $black;
      font-size: 40px;
      display: flex;
      font-family: $fira;
      font-weight: bolder;

      &-top {
        margin: auto;
      }

      &-bottom {
        display: none;
      }
    }
  }
}