.plakat {
    &-container {
        display: flex;
        height: 77vh;
        min-height: 550px;
        width: auto;
        flex-direction: column;
    }

    &-title {
        height: fit-content;
        width: fit-content;
        margin: auto;

        &-content {
            font-family: $fira;
            font-weight: 500;
            font-size: 40px;
            color: $white;
            margin: 20px;
            background: linear-gradient(to left, $white, $white) left top no-repeat, linear-gradient(to bottom, $white, $white) left top no-repeat, linear-gradient(to left, $white, $white) right top no-repeat, linear-gradient(to bottom, $white, $white) right top no-repeat, linear-gradient(to left, $white, $white) left bottom no-repeat, linear-gradient(to bottom, $white, $white) left bottom no-repeat, linear-gradient(to left, $white, $white) right bottom no-repeat, linear-gradient(to left, $white, $white) right bottom no-repeat;
            background-size: 3px 10px, 10px 3px, 3px 10px, 10px 3px;
            padding: 6px;
            transition-duration: 0.3s;
            cursor: pointer;
            bottom: -13px;
            position: relative;

            &:hover {
                padding: 12px;
                transition: all .3 ease-in-out;
            }
        }
    }

    &-author {
        align-self: flex-end;
        padding: 5px;

        &-content {
            font-family: $fira;
            color: $light-grey2;
        }
    }

}