.plakat {
    &-container {
        display: flex;
        height: calc(100vh - 66px);
        width: auto;
        flex-direction: column;
    }

    &-title {
        height: fit-content;
        width: fit-content;
        margin: auto;

        &-content {
            font-weight: bolder;
            font-family: $fira;
            font-size: 50px;
            color: white;
            margin: 20px;
        }
    }

    &-author{
        align-self: flex-end;
        padding: 5px;
        &-content{
            font-family: $fira;
            color: $white;
        }
    }

}