.posts {
  padding: 20px 0 20px 0;
  background-color: $light-grey;
  &-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    
    @media only screen and (max-width:1200px) {
      & {
        margin: auto 20px;
      }
    }
  }

  &-title {
    font-size: 24px;
    font-family: $fira;
    font-weight: bolder;
    display: flex;
    width: 100%;

    &-content {
      margin: 25px auto;
      color: $light-black;
    }
  }

  &-items {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    margin: 10px auto;
  }

  &-item {
    height: 100%;
    font-family: $fira;
    font-weight: bolder;
    display: flex;
    flex-direction: row;

    &-cover {
      width: 20%;
    }

    &-box {
      width: 100%;
      height: min-content;
      background-color: #FFF;
      padding: 10px;
    }

    &-category {
      padding: 5px 8px;
      width: min-content;
      color: $white;
      font-size: 12px;
      box-shadow: 0 0 1px 1px $light-grey;
    }

    &-title {
      margin: 10px 0;
      color: $light-black;
      font-size: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 20vw;
    }
    .line-hover{
      width: auto;
      height: 3px;
      background-color: $white;
    }

    &:hover {
      .line-hover{
        background-color: $primary;
      }
    }

    &-date {
      color: $grey;
      font-size: 10px;
      margin: 8px 0 0 0;
    }

  }

  &-bottom {
    display: flex;

    &-box {
      margin: 25px auto;
    }

    &-button {
      width: fit-content;
      height: min-content;
      padding: 15px;
      background-color: $primary;
      color: $white;
      font-family: $fira;
      font-weight: bolder;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.09);

      &:hover {
        background-color: #ff9999;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .posts {
    &-item-title {
      width: 25vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .posts {
    &-item-title {
      width: 40vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .posts {
    &-item-title {
      width: 80vw;
    }
  }
}