.works {
    background-color: $light-grey;
    border-bottom: $light-grey2 solid 1px;
    padding: 20px 0;

    &-title {
        font-size: 30px;
        font-family: $fira;
        font-weight: bolder;
        display: flex;
        width: 100%;

        &-name {
            margin: 25px auto;
            color: $light-black;
        }
    }

    &-container {
        padding: 10px 0;
        overflow: hidden;
        touch-action: pan-y;
    }

    &-items {
        &-list {
            display: flex;
            flex-wrap: nowrap;
            height: auto;
            width: 150%;

            @media only screen and (max-width: 1200px) {
                & {
                    width: 200%;
                }
            }

            @media only screen and (max-width: 600px) {
                & {
                    width: 400%;
                }
            }

            margin-left: -10%;
        }

        &-item {
            position: relative;
            display: block;
            float: left;
            width: 100vw;
            line-height: auto;

            &>img {
                width: 100%;
            }
        }
    }

    &-bottom {
        display: flex;

        &-box {
            margin: 25px auto;
        }

        &-button {
            width: fit-content;
            height: min-content;
            padding: 15px;
            background-color: $primary;
            color: $white;
            font-family: $fira;
            font-weight: bolder;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.09);

            &:hover {
                background-color: #ff9999;
            }
        }
    }
}